.googlemap_container{
  background: #fff;
  margin: 24px 16px;
  padding: 24;
  height: 85vh;
  overflow: auto;
}

.google {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
}