:root {
  --primary-color: #3b3b3b;
  // --second-color: #ffdf8a;
  // --main-table: #e3f0fc;
  // --border-color: #d0d0d0;
  // --background-textbox: rgba(246, 246, 246, 1);
  // --deny-color: rgba(241, 60, 35, 1);
  // --white: #fff;
  // --main-color-2: #00337b;
  // --border-color2: #e5e5e5;
  // --border-category: rgba(208, 208, 208, 1);
  // --second-color-2: rgba(0, 128, 207, 1);
  // --link-color: rgba(14, 130, 237, 1);
  // --disable: rgba(229, 229, 229, 1);
  // --ghi888888: rgba(136, 136, 136, 1);
  // --green: rgba(0, 171, 110, 1);
  // --blue: rgba(84, 173, 255, 1);
  // --offer: rgba(28, 212, 146, 1);
  // --border-bottom: rgba(59, 59, 59, 1);
  // --background-disabled: #f6f6f6;
}

.p-5px {
  padding: 5px;
}

.pl-5px {
  padding-left: 5px;
}

.container_all{
  background: #fff;
  margin: 24px 16px;
  padding: 24;
  height: 85vh;
  overflow: auto;
}